@model GerenciadorSquad.Models.UserViewModel
    <section>
        <h1>Autenticação</h1>
        <input type="text" name=" email" value="" placeholder="UserName/E-mail"/>
        <input type="password" name=" PWD" value="" placeholder="Senha" />
        <a href="">Esqueceu a senha?</a>
        <button>Login</button>
        <label>Crie uma Conta</label>  <a href="">Crie Aqui</a>
    </section>